.arrow-left,
.arrow-right {
	position:absolute;
	top:50%;
	background-color:#fff;
	margin:-1em;
	width:2em;
	height:2em;
	border-radius:50%;
	cursor:pointer;
}
.arrow-left {left:0;}
.arrow-right {right:0;}
.arrow-left svg,
.arrow-right svg {
	display:block;
	width:80%;
	margin:10%;
}
.arrow-left path,
.arrow-right path {
	fill:none;
	stroke-width:5;
	stroke:#000;
	stroke-dasharray:200 200;
	transition:.3s;
	stroke-linecap:round;
	stroke-linejoin:round;
}
.arrow-left path:nth-child(1),
.arrow-right path:nth-child(1) {stroke-dasharray:40 200;}
.arrow-left path:nth-child(2),
.arrow-right path:nth-child(2) {stroke-dasharray:50 95;}
.arrow-left.hovered path:nth-child(1),
.arrow-right.hovered path:nth-child(1) {stroke-dasharray:100 200;}
.arrow-left.hovered path:nth-child(2),
.arrow-right.hovered path:nth-child(2) {stroke-dasharray:82 30;}