body, html {height:100%;}
.row {
  position:relative;
  background-color:#444;
  height:14.285714285714286%;
  transition:.2s;
  overflow:hidden;
  box-shadow:0 1px #fff inset;

}
.row:hover {
  background-color:#555;
}
.reactor {
  position:absolute;
  left:25%;
  width:1em;
  margin:-.5em;
  top:50%;
  height:1em;
  background-color:#f55;
  border-radius:50%;
  box-shadow:0 0 0px 1px #fff;
}
.reactor#spring-5 {
  left:50%;
}