.select-wrap {
  overflow: hidden;
  position: relative;
  transition: .3s;
  width: 20em;
  margin: 3em auto;
}

.select-wrap:hover {
  background-color: #ccc;
}

.select-adjuster {
  transition: margin .3s;
}

.select-option {
  transition: .3s;
}

.select-option:hover {
  background-color: #aaa;
}

.select-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.select-wrap.expanded .select-overlay {
  display: none;
}

.select-option.checked {
  font-weight: 700;
}

.arrow-down {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.arrow-down:hover {
  color: #f55;
}
